
    <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="links"> <!-- socials -->
              <a href="https://github.com/waebuuu/WebProject" class="mx-2"> <i class="fa-brands fa-square-github fa-xl"></i></a> <!-- github -->
              <a href="https://www.linkedin.com/in/zahra-mirza-a2b02833a" class="mx-2"><i class="fa-brands fa-linkedin fa-xl"></i></a> <!-- linkedin -->
        </div>
        <h6 class="navbar-text">&copy; Copyright 2025. All rights reserved. </h6>
      </nav>
    </footer>
    <script src="/Script/app.js"></script>
  </body>
</html>