<!--about me page
this include stuff is to add the header, nav bar and footer-->
<%- include('./partials/header.ejs') %>
<%- include('./partials/main_nav.ejs') %>

<!--container, white box holding the code space-->
<div class="container my-5">
  <div class="card shadow-lg border-0 mx-auto" style="max-width: 800px;">
    <!--adding image of me into the container left side of the text-->
    <div class="row g-0 align-items-center">
    <div class="col-md-5">
        <span class="d-block border border-white rounded p-4 m-4" style="border-width: 2px;">
        <img src="/Asset/images/imageofme.png" class="img-fluid rounded" alt="Photo of Zahra Mirza">
    </div>

    <div class="col-md-7">
      <div class="card-body">
        <!--title and text about me-->
        <h2 class="card-title mb-3"><%= title %></h2>
          <p class="card-text">
            My name is <strong>Zahra Mirza</strong>, I am 19 years old and currently a second-year student at Ontario Tech University. 
            I love working on projects where I can be creative — whether that’s through technology or on a canvas. Outside of school, 
            I enjoy drawing and often create digital art of characters I like. My goal is to continue developing my skills in design 
            and programming so that I can build engaging, meaningful projects in the future.
          </p>
    
            <p class="card-text mt-3">Below is a video of my drawing!</p>
            <!--button that opens collaspable card with video it in // bootstrap-->
            <button class="btn btn-primary mt-2" data-bs-toggle="collapse" data-bs-target="#video" aria-expanded="false" aria-controls="video"> 🎥 Watch My Video </button> 
            
              <div class="collapse" id="video">
                  <div class="card card-body border-dark">
                    <!--video-->
                    <video id="myVideo" width="320" height="240" controls autoplay muted loop poster="/Assest/images/poster.png" preload="auto">
                      <source src="/Asset/videos/videos.mp4" type="video/mp4">
                    </video>
                    <!--js script to allow pauseplay button to function-->
                    <script>
                      var myVideo=document.getElementById("myVideo");
                      function playPause() 
                      { 
                        if (myVideo.paused) myVideo.play(); 
                        else myVideo.pause();
                      }
                    </script>
                    <!--button to pause/play-->
                    <button onclick="playPause()"><i class="fa-solid fa-play"></i></button>
                    
                  </div>
                </div>
              </div>
    </div>
  </div>
</div>

<!--footer-->
<%- include('./partials/footer.ejs') %>
