<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/Content/style.css" type="text/css">
<%- include('./partials/main_nav.ejs') %>

<div class="container my-5">
  <h1 class="text-center text-light "><%= title %></h1>
  <p class="text-center text-light">Please leave your enquiries below</p>

  <form class="mx-auto shadow p-4 rounded bg-light needs-validation" style="max-width: 600px;" novalidate>

    
    <div class="mb-3">
        <label for="FName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="FName" name="FName" placeholder="Enter your first name" required>
    </div>

    <div class="mb-3">
      <label for="LName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="LName" name="LName" placeholder="Enter your last name" required>
     </div>

    <div class="mb-3">
      <label for="Email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter your email address" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <label for="comments" class="form-label">Comments</label>
      <textarea class="form-control" id="comments" name="comments" rows="5" placeholder="Write your comments here..."></textarea>
    </div>

    <h4 class="mt-4">Captcha</h4>
    <div class="mb-3">
      <label for="captcha" class="form-label">What is 3 × 4?</label>
      <input type="number" class="form-control" id="captcha" name="captcha" required>
    </div>

    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<%- include('./partials/footer.ejs') %>