<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/Content/style.css" type="text/css">
<%- include('./partials/main_nav.ejs') %>

<h1><%= title %></h1>
        <h2>Projects & Assignments</h2>
        <p>2024 - 2025</p>

        <div class="project-box">
            <h3>1. Word Unscramble Game</h3>
            <p>A python two person game where the players were challenged to unscambled letter to create words. The players score is kept and a winner is annouced once a player ends the game.</p>
        </div>

        <div class="project-box">
            <h3>2. Library Management System</h3>
            <p>A python OOP system that allows for users and admin to access, request and borrow Library items including books, movies and magazines. This system inculded a fully functioning GUI interface.</p>
        </div>

        <div class="project-box">
            <h3>3. Case Study |</h3>
            <p>Addressing and configuring a network that consists of three buildings, each with PCs and a switched LAN. Two of the building where connected with a core router and gateway router while the other via remote.</p>
        </div>

        <div class="project-box">
            <h3>4. Case Study ||</h3>
            <p>A network topology of numerous systems enabling communication between different networks via pings. Configuring included setting up BGP and VLAN routes.</p>
        </div>

        <div class="project-box">
            <h3>5. Marketing Plan</h3>
            <p>Created a 13 paged detailed document, including mutiple graphics and charts, listing a marketing plan for a possible fitness company. Containing details such as location choices and advertistment</p>
        </div>

        <div class="project-box">
            <h3>6. Writing & Critical Thinking</h3>
            <p>Wrote a detailed analysis on the affects of reject and the benifits of rejection therapy told throught the lense of a man facing social anxiety.</p>
        </div>
    </div> 

    <div class="clear"></div>
</div> 
</body>
</html>


<%- include('./partials/footer.ejs') %>
