<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/Content/style.css" type="text/css">
<%- include('./partials/main_nav.ejs') %>

<div class="container text-center my-5">
  <h1><%= title %></h1>
  <h2>Projects & Assignments</h2>
  <p>2024 - 2025</p>
  
    <div class="container text-center">
    <div class="row g-2">
    <div class="col-6">
      <div class="p-3">Custom column padding</div>
    </div>

  </div>
</div>


<%- include('./partials/footer.ejs') %>
