<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/Content/style.css" type="text/css">
<%- include('./partials/main_nav.ejs') %>

<div class="container text-center my-5">
    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3"></div>
  <h1><%= title %></h1>
  <h2>Projects & Assignments</h2>
  <p>2024 - 2025</p>
  
    <div class="col-md-6 col-lg-4">
      <div class="p-4 border rounded bg-light project-box h-100">
        <h3>1. Word Unscramble Game</h3>
        <p>A Python two-person game where players compete to unscramble letters into words. The game tracks scores and announces a winner once a player ends the game.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="p-4 border rounded bg-light project-box h-100">
        <h3>2. Library Management System</h3>
        <p>A Python OOP system that allows users and admins to request and borrow library items including books, movies, and magazines. Includes a fully functional GUI interface.</p>
      </div>
    </div>


    <div class="col-md-6 col-lg-4">
      <div class="p-4 border rounded bg-light project-box h-100">
        <h3>3. Case Study I</h3>
        <p>Designed and configured a network connecting three buildings with LANs and core routers. The setup includes remote connectivity and gateway routing.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="p-4 border rounded bg-light project-box h-100">
        <h3>4. Case Study II</h3>
        <p>Created a detailed network topology enabling communication between different networks using BGP and VLAN routing protocols.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="p-4 border rounded bg-light project-box h-100">
        <h3>5. Marketing Plan</h3>
        <p>Developed a 13-page marketing plan with visuals and charts for a fictional fitness company, detailing strategy, location choices, and promotional design.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="p-4 border rounded bg-light project-box h-100">
        <h3>6. Writing & Critical Thinking</h3>
        <p>Wrote an analytical essay exploring the effects and psychological benefits of rejection therapy through the story of a man overcoming social anxiety.</p>
      </div>
    </div>


  </div>
</div>


<%- include('./partials/footer.ejs') %>
