<%- include ./partials/header.ejs %>
<link rel="stylesheet" href="/Content/style.css" type="text/css">
<%- include ./partials/main_nav.ejs %>

<div class="container text-center my-5">
<div class="bg-white p-5 rounded-4 shadow text-center">
  <h1><%= title %></h1>
  <p>2024 - 2025</p>

  <p>
    <button class="btn btn-primary w-25" style="height: 60px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject1" aria-expanded="false" aria-controls="collapseWidthExample">
      Word Unscramble Game
    </button>
  </p>
  <div class="collapse" id="collapseProject1">
    <div class="collapse collapse-horizontal" id="collapseProject1">
      <div class="card card-body border-dark text-start text-dark" style="width: 100%;">
        A Python two-person game where players compete to unscramble letters into words. The game tracks scores and announces a winner once a player ends the game.
      </div>
    </div>
  </div>

  <p>
    <button class="btn btn-primary w-25" style="height: 60px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject2" aria-expanded="false" aria-controls="collapseWidthExample">
      Library Management System
    </button>
  </p>
  <div class="collapse" id="collapseProject2">
    <div class="collapse collapse-horizontal" id="collapseProject2">
      <div class="card card-body border-dark text-start text-dark" style="width: 100%;">
          A Python OOP system that allows users and admins to request and borrow library items including books, movies, and magazines. Includes a fully functional GUI interface.
        </div>
    </div>
  </div>

  <p>
    <button class="btn btn-primary w-25" style="height: 60px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject3" aria-expanded="false" aria-controls="collapseWidthExample">
      Case Study I
    </button>
  </p>
  <div class="collapse" id="collapseProject3">
    <div class="collapse collapse-horizontal" id="collapseProject3">
            <div class="card card-body border-dark text-start text-dark" style="width: 100%;">
              Designed and configured a network connecting three buildings with LANs and core routers. The setup includes remote connectivity and gateway routing.
            </div>
    </div>
  </div>

  <p>
    <button class="btn btn-primary w-25" style="height: 60px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject4" aria-expanded="false" aria-controls="collapseWidthExample">
      Case Study II
    </button>
  </p>
  <div class="collapse" id="collapseProject4">
    <div class="collapse collapse-horizontal" id="collapseProject4">
            <div class="card card-body border-dark text-start text-dark" style="width: 100%;">
              Created a detailed network topology enabling communication between different networks using BGP and VLAN routing protocols.
            </div>
    </div>
  </div>

  <p>
    <button class="btn btn-primary w-25" style="height: 60px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject5" aria-expanded="false" aria-controls="collapseWidthExample">
      Marketing Plan
    </button>
  </p>
  <div class="collapse" id="collapseProject5">
    <div class="collapse collapse-horizontal" id="collapseProject5">
      <div class="card card-body border-dark text-start text-dark" style="width: 100%;">
              Developed a 13-page marketing plan with visuals and charts for a fictional fitness company, detailing strategy, location choices, and promotional design.
            </div>
    </div>
  </div>

  <p>
    <button class="btn btn-primary w-25" style="height: 60px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject6" aria-expanded="false" aria-controls="collapseWidthExample">
      Writing & Critical Thinking
    </button>
  </p>
  <div class="collapse" id="collapseProject6">
    <div class="collapse collapse-horizontal" id="collapseProject6">
      <div class="card card-body border-dark text-start text-dark" style="width: 100%;">
              Wrote an analytical essay exploring the effects and psychological benefits of rejection therapy through the story of a man overcoming social anxiety.
            </div>
    </div>
  </div>
</div>
</div>



<%- include ./partials/footer.ejs %>
