@charset "UTF-8";
/* Color Scheme : #6C2AF5, #AC93F4, #F46EE5, #F59F84, #F46175*/
/* The body tag style applies to all elements on the page */


body {
    /*background-color gradient between rgb (59, 2, 112) & rgb (111, 0, 255)*/
    background: rgb(59, 2, 112);
    background: -moz-linear-gradient(top, rgb(111, 0, 255) 0%, rgb(59, 2, 112) 100%);
    background: -webkit-linear-gradient(top, rgb(111, 0, 255) 0%, rgb(59, 2, 112) 100%);
    background: -o-linear-gradient(top, rgb(111, 0, 255) 0%, rgb(59, 2, 112) 100%);
    background: linear-gradient(to bottom, rgb(111, 0, 255) 0%, rgb(59, 2, 112) 100%);
    font-family: Verdana, Geneva, Arial, sans-serif;
    /*formatting, making sure we got no spaces and centering all the things*/
    padding: 0px;
    margin: 0px;
    text-align: center;
}

video {
    width: 400px;
    background-color:black;
    border:2px rgb(255, 241, 241) solid;
}


button {
background-color:rgb(111, 0, 255);
margin: 15px;
color:rgb(255, 241, 241);
height:40px;
border:2px rgb(255, 241, 241) solid;
border-radius: 5px;
}


button:hover {
    background-color:rgb(59, 2, 112);
    color:rgb(255, 241, 241);
    height:40px;
    border:2px rgb(255, 241, 241) solid;
    border-radius: 5px;
}





